.container {
  display: flex;
  justify-content: center;
  padding-top: 72px;
}

.card {
  flex-direction: column;
  max-width: 378px;
  padding: 24px;
}

.title {
  margin-bottom: 37px;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-light-100);
  text-align: center;
}


.inputContainer {
  margin-bottom: 24px;
}

.text {
  display: block;
  margin-bottom: 23px;
  font-size: var(--font-size-m);
  color: var(--color-light-100);

  &:last-child {
    margin-bottom: 17px;
  }
}

.textTip {
  color: var(--color-light-900);
}

.btnSend {
  margin-bottom: 24px;
}

.btnSend:disabled {
  cursor: default;
}

.btnBack {
  margin: 0 auto 24px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  color: var(--color-accent-500) !important;

  &:hover {
    color: var(--color-light-100) !important;
  }

  &:last-child {
    margin-bottom: 12px;
  }
}

.recaptcha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
