.cardContainer {
  width: 378px;
  height: 408px;
}

.h1 {
  width: 215px;
  height: 36px;
  margin: 0 auto var(--line-height-l);

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: 36px;
  text-align: right;
}

.paragraph {
  width: 330px;
  margin: 10px 0 30px;
  font-size: var(--font-size-s);
  color: var(--color-light-900);
}

.widthInput {
  max-width: 330px;
}

.input {
  margin-bottom: 24px;
}