.createPostCroppWrapper {
  max-width: 490px;
  width: 100%;
  height: 503px;
  position: relative;
}

.createPostCroppImage {
  object-fit: cover;
  object-position: center center;
  height: 503px;
}

.createPostCroppActionButtons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 11px;
  left: 11px;
  right: 11px;
}

.createPostCroppBtn {
  width: 36px;
  height: 36px;
  padding: 0;
  display: flex;
  justify-content: center;
  svg {
    margin: 0;
    width: 24px;
    height: 24px;
  }
}

.createPostCropBtnsBlock {
  display: flex;
  gap: 24px;
}