html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-900);
}

.container {
  max-width: 1086px;
  margin: 0 auto;
  padding: 36px 24px;
}

.wrapper404,
.wrapper500 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 10px;
}

.clamp-block {
  position: relative;

  .clamp-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.clamp-less {
  cursor: pointer;

  display: none;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: 24px;
  color: var(--color-accent-500);
  text-decoration: underline;
}

.clamp-more {
  cursor: pointer;

  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  padding-left: 10px;

  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-accent-500);
  text-decoration: underline;

  background-color: var(--color-dark-900);
}

.clamp-block--opened {
  .clamp-content {
    overflow:  initial;
    display: initial;
    -webkit-box-orient: initial;
    -webkit-line-clamp: initial;
  }

  .clamp-more {
    display: none;
  }

  .clamp-less {
    display: block;
  }
}
