.comboboxButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  padding: 8px;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comboboxIcon {
  flex-shrink: 0;

  width: 16px;
  height: 16px;
  margin-left: 8px;

  opacity: 0.5;
}

.comboboxContent {
  width: 200px;
  padding: 0;
}

.commandItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
}

.commandItemSelected .checkIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 1;
}

.commandItemUnselected .checkIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  opacity: 0;
}

.commandList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.commandGroup {
  padding: 8px 0;
}

.commandInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.commandEmpty {
  padding: 8px;
  color: #999;
  text-align: center;
}
