.createPostCroppOptions {
  width: 156px;
  height: 152px;
  padding: 10px 13px;

  background-color: var(--color-dark-500);
  opacity: 0.8;
  border-radius: 2px;

  //position: absolute;
  //bottom: 37px;
  //left: 0;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div[class*="label"]{
      flex-grow: 1;
    }
    button {
      padding: 0;
      svg {
        margin: 0;
        width: 18px;
        height: 18px;
        color: var(--color-light-900);
      }
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
