.photoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  .photoItem {
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
      height: 240px !important;
      object-fit: cover;
    }

    img.avatarImage {
      width: 36px;
      height: 36px !important;
      object-fit: cover;
    }
  }
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;

  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.swiperContainer {
  margin-bottom: 12px;
}

.description {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: 24px;
  color: var(--color-light-100);
}

.slide {
  max-height: 504px;
}

.imageContainer {
  cursor: pointer;
  width: 100%;
}

.image {
  width: 100%;
  max-width: 100%;
  height: 504px;
  object-fit: cover;
}

.bulletClass {
  opacity: 1;
  background-color: var(--color-light-100);
}

.bulletActiveClass {
  background-color: var(--color-accent-500);
}

.date {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: 16px;
  color: var(--color-light-900);
}


