.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 24px 64px;
}

.buttonBlock {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: start;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  color: var(--color-light-100);
  line-height: 24px;
  margin-bottom: 23px;
}

.title {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  color: var(--color-light-100);
  line-height: 36px;
  margin-bottom: 20px;
}

.button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  max-width: 958px;
  text-align: center;
}

.text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  color: var(--color-light-100);
  line-height: 24px;
  text-align: left;
  text-indent: 18px;
}