.container{
  .blockPaymentButtons{
    display: flex;
    padding: 20px 0;
    justify-content: flex-end;
    gap: 20px;
    .svg {
      width: 94px;
      height: 64px;
      background-color: #0a6638;
    }
    .blockPaymentOr{
      padding-top: 20px;
    }
  }
}
