.form {
  padding: 24px 0 26px;
}

.formContainer {
  display: flex;
  gap: 40px;

  margin-bottom: 24px;
  padding-bottom: 23px;

  border-bottom: 1px solid var(--color-dark-300);
}

.photoSection {
  flex: 0 0 192px;
}

.userPhoto {
  display: grid;
  place-items: center;

  width: 192px;
  height: 192px;
  margin-bottom: 24px;

  background-color: var(--color-dark-500);
  border-radius: 50%;
}

.dataSection {
  flex-grow: 1;
}

.inputContainer {
  margin-bottom: 15px;
}

.textAreaClasses {
  margin-top: 24px;
  

  textarea {
    height: 84px;
  }
}

.submitBtn {
  margin-left: auto;
}