.form {
  padding: 24px 0 26px;
}

.formContainer {
  display: flex;
  gap: 40px;

  margin-bottom: 24px;
  padding-bottom: 23px;

  border-bottom: 1px solid var(--color-dark-300);
}


.dataSection {
  flex-grow: 1;
}

.inputContainer {
  margin-bottom: 15px;
}

.textArea {
  margin-top: 15px;

  textarea {
    height: 84px;
  }
}

.submitBtn {
  margin-left: auto;
}

.locationInputWrapper {
  display: flex;
  column-gap: 24px;
}

.colorDanger {
  color: var(--color-danger-500);
}